*{
box-sizing: border-box;
padding: 0;
margin: 0;
color: white;

/* background: linear-gradient(90deg ,rgb(0, 37, 105, 75%), rgb(72, 7, 156));  */

}

body{

    overflow-x: hidden;
}


/* Nav header */

.container-header{

    background-color: rgb(42, 0, 121);
    box-shadow: 2px 2px 10px white;
    width: 100%;
    height: 60px;
   position: relative;
   top:0;
   


}

.burger-menu{

    display: flex;
    flex-direction: row;
align-items: center;
width:100%;
    height: 50px;
   position: relative;
   top: 5px;
   padding: 10px ;
  
  
 
     
}

.logo{

    width: 125px;

}

.fa-bars, .fa-times{

    position: absolute;
    right: 30px;
    width: 50px;
    font-size: 2rem;


}

.navList{
display: flex;
flex-direction: column;

background: linear-gradient( to right, rgb(42, 0, 121), rgb(78, 0, 223));

width: 50%;
margin: 10px 0;
position: absolute;
left:-100%;
transition: all ease-in-out 630ms;
min-height: 100vh;
z-index: 10000;


}

.navList.active{
    transition: left ease-in-out 630ms;
left: 0;
}



.navList li{
    position: relative;
    top: 0px;

    color: white;
    padding: 30px;
    font-size: 1.2rem;
   text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    

}

.list-link{

    text-decoration: none;
}

.container-header2{

    width:100%;
    height: 100vh;
    background: linear-gradient(rgb(42, 0, 121), rgb(78, 0, 223));
    padding-bottom: 100px;
    margin: 0px auto;
    box-shadow: 2px 2px 10px white;




}



.NavList Link{

    text-decoration: none;


}

.header-txt{

    display: flex;
    padding: 20px 5px;
    flex-direction: column;
  width: 80% ;
    min-height: 70vh;
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%, 0);
    z-index: 300;
    margin: 0 auto;

   
   
}

.intro-text.head{

    color: #bea252;
}

.header-txt h2, p{

width: 100%;
color: seashell;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
line-height: 2rem;



}

.header-txt p{

    font-size: 1.2rem;
}

.social i{

    margin: 10px 0px;
    border-radius: 360px;
    padding-right:0.5rem;
    /* transition: top ease-in-out 650ms; */
   
}

.social i:hover{

    position: relative;
    bottom: 5px;
    transition:  all 350ms ease;
}

.web{

    max-width: 550px;
    width:400px;
    padding: 40px 0;
}

.resume{

    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0px  2px 2px rgb(42, 0, 121);
    color: grey;
    font-weight:600;
    
}

.resume i{

    color: rgb(42, 0, 121);
    padding-right: 0.8rem;
}


/* what i do  */

    .about-wrap{

        display: flex;
        flex-direction: column;
    }

.about-content{

    padding: 40px;
}

.about-1, .about-2{

color: black;
text-align: center;
font-size: 2rem;
text-transform: uppercase;
padding: 20px;

}

.about-2{

    font-size: 1.2rem;
    
}

.skills{

    max-width: 600px;

    width: 100%
}

.section2 {

    text-align: center;
}

.section2  i:not(.fa-code){

    padding: 10px;
   margin: 30px;

   border-radius: 360%;
   box-shadow: 2px 5px 15px rgb(202, 202, 202);
   
}

.fa-html5{

    color: orangered;
}

.fa-css3-alt{

    color: blue;
}

.fa-npm{

    color: red;
}

.fa-react{

    color:rgb(13, 227, 255)
}

.fa-js-square{

    color:rgb(255, 239, 13)
}

.fa-python{

    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, rgb(13, 227, 255),rgb(255, 239, 13))
}

.fa-php{

    color: purple;
}

.fa-bootstrap{

    color: royalblue;
}

.fa-node-js{

    color: green;
}

.fa-github-alt{

    color: black;
}

.fa-shopify{

    color: greenyellow;
}

.fa-wordpress{

    color: darkslategray
}

.fa-figma{

    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, rgb(78, 13, 255),rgb(247, 0, 255))
    
}

.highlight{

    padding: 30px
}

.highlight li{

    color: dimgray;
    margin: 20px auto;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
  
    
}

.highlight .fa-code{

    color: transparent;
    background-clip: text;
    background-image: linear-gradient(rgb(42, 0, 121), rgb(78, 0, 223));
    padding-right: 10px;
   
 
}

/* Wht i do */

.time-item{

    color:  #4e00df
}


/* footer start */

.container-footer{

    position: relative;
    bottom: -30px;
    background-color: rgb(42, 0, 121);
    display: flex;
    flex-direction: column;
  order: 3;
}

.profile{

    max-width: 200px;
    width: 150px;
    border-radius: 360%;
    padding: 50px 0;
    margin: 0 auto;

}

.footer-content{

    padding: 10px 30px
}

.footer-title{

    color: rgb(253, 247, 247);
   
}


.black{

    color: black;
    display: flex;
    align-items: center;
    height: 70vh;
}



/* ####################### ####################### */



/* media queries */


@media screen and (max-width: 375px){
    .header-txt h2, .social, .resume{
    
       
      position: relative;
      display: block;
      left: 20%;
      transform: translate(-10%);
      font-size: 1rem;
    
      
    
    }
    
    .header-txt p{
    
        font-size: 1rem;
       
    }
    
    }


    @media screen and (max-width: 768px){

        .navList{
            display: flex;
            flex-direction: column;
            
            background: linear-gradient( to right, rgb(42, 0, 121), rgb(78, 0, 223));
            
            width: 50%;
            margin: 10px 0;
            position: absolute;
            left:-100%;
            transition: all ease-in-out 630ms;
            min-height: 100vh;
            z-index: 10000;
            
            
            }
    
            .fa-bars, .fa-times{
    
                position: absolute;
                right: 60px;
                width: 50px;
                font-size: 2rem;
            
            
            }
    
            .header-txt{
    
                padding: 0 40px
    
            }
    
    
    
    }
    


@media screen and (min-width: 922px){

    .navList{

        flex-direction: row;
        left:inherit;
        background: transparent!important;
        position: absolute;
        right: 20px;
        top: -20px;
        min-height: 1px;
        width: inherit;
        transform: inherit;
        transition: inherit;
      
        
    }


    .fa-bars, .fa-times{

       display: none;
    
    
    }

    .navList li{

        color: #bea252;
    }

    .navList li:hover{

       transform: scale(1.2);
       transition: scale ease-in-out 320ms;
      
       

    }

    .web{

        max-width: 700px;
        width:500px;
        padding: 40px 0;
       position: absolute;
       left: 60%;
       top: 30%
       

    }

    .about-wrap{

        display: flex;
        flex-direction: row;
    }

    


}

